html {
    background-color: #869960;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}


.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    color: #795757;
}

header a {
    text-decoration: none;
    color: #295F98;
    font-size: 20px;
}

header h1 {
    margin: 10px;
    font-weight: normal;
    font-size: 30px;
}

header p {
    margin: 0;
    font-size: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.col-item-name {
    width: 60%;
}

.col-quantity,
.col-price {
    width: 20%;
}

table th {
    text-align: left;
    background-color: #869960;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(11, 1, 1, 0.4);
}

table th,
table td {
    border: 1px solid #cadea4;
    padding: 10px;
    vertical-align: top;
}

table tbody tr:nth-child(even) td {
    background-color: #e5e9dc;
}

table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
    text-align: center;
}

table tbody tr:hover td {
    background-color: #c79ed3;
}